<div>{{burger_name}}</div>
<div>{{devoured}}</div>


{{!--
<div>
    {{#each burger_data}} {{#unless this.devoured}}
    <div class="card">
        <div class="card-body">
            {{this.id}}, {{this.burger_name}}
            <button type="button" class="btn btn-warning float-right">Light</button>
        </div>
    </div>
    {{/unless}} {{/each}}
</div> --}}



<body>
    <img src="/assets/img/Burgertime.jpg" class="rounded mx-auto my-3 d-block" alt="burger man">

    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto">
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="burger-text" placeholder="What burger do you want?" aria-label="burgername" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="button" id="enter">Burger!</button>
                </div>
            </div>
            </div>

        </div>
        <div class="row justify-content-around">
            <div class="col-4">
                <div>
                    {{#each burger_data}} {{#unless this.devoured}}
                    <div class="card">
                        <div class="card-body">
                            {{this.id}}. {{this.burger_name}}
                            <button type="button" class="btn btn-warning float-right btn-sm" id="devourButton" data-id="{{this.id}}">Devour</button>
                        </div>
                    </div>
                    {{/unless}} {{/each}}
                </div>
            </div>
            <div class="col-4">
                <div>
                    {{#each burger_data}} {{#if this.devoured}}
                    <div class="card">
                        <div class="card-body">
                            {{this.id}}. {{this.burger_name}}
                        </div>
                    </div>
                    {{/if}} {{/each}}
                </div>
            </div>
        </div>
    </div>



</body>